* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: $base-font-size;
    line-height: 1.375;
    font-family: $primary-family;
    color: #000000;
}

a {
    text-decoration: none;
    transition: 0.3s;

    &:focus,
    &:active {
        outline: none;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;

    .video-js,
    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.accessible-text,
.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.container {
    max-width: 1210px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    margin: 0 auto;

    @media #{$phone} {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.grid-item {
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &:first-child {
        grid-row: 1 / 13;
        grid-column: 1 / 5;
    }
    &:last-child {
        grid-column: 13 / 17;
        grid-row: 1 / 13;
    }
    &:nth-child(2) {
        grid-row: 1 / 6;
        grid-column: 5 / 9;
    }
    &:nth-child(3) {
        grid-row: 1 / 6;
        grid-column: 9 / 13;
    }
    &:nth-child(4) {
        grid-column: 5 / 8;
        grid-row: 6 / 13;
    }
    &:nth-child(5) {
        grid-column: 8 / 13;
        grid-row: 6 / 13;
    }
}
